/*
=================================================================
GITHUB REPO: https://github.com/danieljbell/client-theme--nutanix
=================================================================
*/
.nutanix-page--cover { padding: 3em 1em 2em; background-image: url(../img/nutanix-logo-pattern.png); background-size: 600px; background-repeat: no-repeat; background-position: right center; }
.nutanix-page--cover .nutanix-page--cover--logo { width: 100%; max-width: 300px !important; margin-bottom: 3em; }
.nutanix-page--cover .nutanix-page--cover--headline { color: #fff !important; margin-bottom: 1em !important; }
.nutanix-page--cover .nutanix-page--cover--prepared-for { margin-bottom: 3em; }
.nutanix-page--cover .nutanix-page--cover--prepared-for p { font-size: 1.1em !important; }
.nutanix-page--cover .nutanix-page--cover--prepared-for p:first-child { margin-bottom: 0 !important; }
.nutanix-page--cover .nutanix-page--cover--people-list { list-style-type: none; padding-left: 0 !important; }
.nutanix-page--cover .nutanix-page--cover--people-item { font-size: 0.85em !important; }
.nutanix-page--cover .nutanix-page--cover--people-item:last-child { margin-bottom: 0 !important; }
#content_editor .page { background-color: #024DA1; }
.nutanix-has-text-white { color: #fff !important; }
.nutanix-has-text-brand-two { color: #AFD135 !important; }
.nutanix-pad-y { padding-top: 30px !important; padding-bottom: 30px !important; }
.nutanix-pad-y-more { padding-top: 60px !important; padding-bottom: 60px !important; }
.nutanix-pad-t { padding-top: 30px !important; }
.nutanix-pad-t-more { padding-top: 60px !important; }
.nutanix-pad-b { padding-bottom: 30px !important; }
.nutanix-pad-b-more { padding-bottom: 60px !important; }
.nutanix-pad-x { padding-left: 30px !important; padding-right: 30px !important; }
.nutanix-pad-x-more { padding-left: 60px !important; padding-right: 60px !important; }
.nutanix-pad-l { padding-left: 30px !important; }
.nutanix-pad-l-more { padding-left: 60px !important; }
.nutanix-pad-r { padding-right: 30px !important; }
.nutanix-pad-r-more { padding-right: 60px !important; }
.nutanix-mar-y { margin-top: 30px !important; margin-bottom: 30px !important; }
.nutanix-mar-y-more { margin-top: 60px !important; margin-bottom: 60px !important; }
.nutanix-mar-t { margin-top: 30px !important; }
.nutanix-mar-t-more { margin-top: 60px !important; }
.nutanix-mar-b { margin-bottom: 30px !important; }
.nutanix-mar-b-more { margin-bottom: 60px !important; }
.nutanix-mar-b-neg { margin-bottom: -30px !important; }
.nutanix-mar-x { margin-left: 30px !important; margin-right: 30px !important; }
.nutanix-mar-x-more { margin-left: 60px !important; margin-right: 60px !important; }
.nutanix-mar-l { margin-left: 30px !important; }
.nutanix-mar-l-more { margin-left: 60px !important; }
.nutanix-mar-r { margin-right: 30px !important; }
.nutanix-mar-r-more { margin-right: 60px !important; }
.nutanix-b-a { border: 1px solid #fff; }
@media screen and (max-width: 735px) { .nutanix-page--cover { padding: 2em 0 1em; } }
@media screen and (max-width: 568px) { .nutanix-mar-x { margin-left: 0px !important; margin-right: 0px !important; } }

/*# sourceMappingURL=client-theme.css.map */
