@font-face { font-family: 'Gotham Rounded Book'; font-style: normal; font-weight: 400; src: url(https://mytinder.s3.amazonaws.com/assets/account/2693/fonts/GothamRounded-Book_1521165143.ttf); }

@font-face { font-family: 'Gotham Rounded Book'; font-style: italic; font-weight: 400; src: url(https://mytinder.s3.amazonaws.com/assets/account/2693/fonts/GothamRounded-BookItalic_1521165152.ttf); }

@font-face { font-family: 'Gotham Rounded Medium'; font-style: normal; font-weight: 400; src: url(https://mytinder.s3.amazonaws.com/assets/account/2693/fonts/GothamRounded-Medium_1521165165.ttf); }

@font-face { font-family: 'Gotham Rounded Medium'; font-style: italic; font-weight: 400; src: url(https://mytinder.s3.amazonaws.com/assets/account/2693/fonts/GothamRounded-MediumItalic_1521165173.ttf); }

/*
=================================================================
GITHUB REPO: https://github.com/danieljbell/client-theme--nutanix
=================================================================
*/

.nutanix-icon-list { list-style-type: none; }

#content_editor .nutanix-icon-list, .pdf-page-content .nutanix-icon-list { padding-left: 0; }

.nutanix-icon-list:after { content: ''; display: table; clear: both; }

.nutanix-icon-item { display: table; float: left; }

.nutanix-icon-item--icon, .nutanix-icon-item--content { display: table-cell; vertical-align: middle; width: 25%; }

.nutanix-icon-item--content { width: 75%; padding: 0 1rem; }

#content_editor .nutanix-icon-item--content p:last-child, .pdf-page-content .nutanix-icon-item--content p:last-child { margin-bottom: 0; }

.nutanix-page--chapter-page { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; padding: 11em 40px 11em 370px; background-image: url(../img/nutanix-large-arrow.png), url(../img/abstract-bg.jpg); background-size: contain, cover; background-repeat: no-repeat; background-position: -100px 0, center; }

#content_editor .nutanix-page--chapter-page h1, .pdf-page-content .nutanix-page--chapter-page h1 { font-size: 32px; text-align: center; color: #fff; margin-bottom: 0; }

.nutanix-blue-box { background-color: #024DA1; padding: 0.25em 1em; }

#content_editor .nutanix-blue-box, .pdf-page-content .nutanix-blue-box, #content_editor .nutanix-blue-box *, .pdf-page-content .nutanix-blue-box * { color: #fff; }

#content_editor .nutanix-blue-box p:last-child, .pdf-page-content .nutanix-blue-box p:last-child { margin-bottom: 0; }

.nutanix-green-box { background-color: #AFD135; padding: 0.25em 1em; }

#content_editor .nutanix-green-box, .pdf-page-content .nutanix-green-box, #content_editor .nutanix-green-box *, .pdf-page-content .nutanix-green-box * { color: #fff; }

#content_editor .nutanix-green-box p:last-child, .pdf-page-content .nutanix-green-box p:last-child { margin-bottom: 0; }

.nutanix-orange-box { background-color: #F37021; padding: 0.25em 1em; }

#content_editor .nutanix-orange-box, .pdf-page-content .nutanix-orange-box, #content_editor .nutanix-orange-box *, .pdf-page-content .nutanix-orange-box * { color: #fff; }

#content_editor .nutanix-orange-box p:last-child, .pdf-page-content .nutanix-orange-box p:last-child { margin-bottom: 0; }

.nutanix-white-box { background-color: #fff; padding: 0.25em 1em; }

#content_editor .nutanix-white-box, .pdf-page-content .nutanix-white-box, #content_editor .nutanix-white-box *, .pdf-page-content .nutanix-white-box * { color: #4C4C4E; }

#content_editor .nutanix-white-box p:last-child, .pdf-page-content .nutanix-white-box p:last-child { margin-bottom: 0; }

.nutanix-gray-box { background-color: #76787A; padding: 0.25em 1em; }

#content_editor .nutanix-gray-box, .pdf-page-content .nutanix-gray-box, #content_editor .nutanix-gray-box *, .pdf-page-content .nutanix-gray-box * { color: #fff; }

#content_editor .nutanix-gray-box p:last-child, .pdf-page-content .nutanix-gray-box p:last-child { margin-bottom: 0; }

.nutanix-shadowbox { display: table; width: 100%; }

.nutanix-shadowbox > * { display: table-cell; vertical-align: top; }

#content_editor .nutanix-shadowbox h2, .pdf-page-content .nutanix-shadowbox h2 { text-align: center; }

.nutanix-shadowbox .nutanix-shadowbox--shadowed { width: 60px; position: relative; background-image: -webkit-gradient(linear, left top, right top, from(rgba(118, 120, 122, 0)), to(rgba(118, 120, 122, 0.5))); background-image: -webkit-linear-gradient(left, rgba(118, 120, 122, 0), rgba(118, 120, 122, 0.5)); background-image: -o-linear-gradient(left, rgba(118, 120, 122, 0), rgba(118, 120, 122, 0.5)); background-image: linear-gradient(to right, rgba(118, 120, 122, 0), rgba(118, 120, 122, 0.5)); }

.nutanix-shadowbox .nutanix-shadowbox--shadowed:before, .nutanix-shadowbox .nutanix-shadowbox--shadowed:after { content: ''; position: absolute; width: 60px; height: 120px; }

.nutanix-shadowbox .nutanix-shadowbox--shadowed:before { background-image: -webkit-linear-gradient(315deg, #fff, rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(315deg, #fff, rgba(255, 255, 255, 0)); background-image: linear-gradient(135deg, #fff, rgba(255, 255, 255, 0)); }

.nutanix-shadowbox .nutanix-shadowbox--shadowed:after { bottom: 0; background-image: -webkit-linear-gradient(45deg, #fff, rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(45deg, #fff, rgba(255, 255, 255, 0)); background-image: linear-gradient(45deg, #fff, rgba(255, 255, 255, 0)); }

.nutanix-product-overview-graphic { display: table; width: 100%; }

.nutanix-product-overview-graphic > * { display: table-cell; vertical-align: middle; }

.nutanix-product-overview-graphic--icon { position: relative; padding-right: 30px; z-index: 2; }

.nutanix-product-overview-graphic--icon h2 { position: absolute; left: 20px; }

.nutanix-product-overview-graphic--icon img { border-radius: 50%; border: 5px solid #fff; margin-bottom: 0.5em; }

#content_editor .nutanix-product-overview-graphic--icon img, .pdf-page-content .nutanix-product-overview-graphic--icon img { max-width: 150px; }

.nutanix-product-overview-graphic--api { background-color: #76787A; padding: 0.25em 1em; position: relative; text-align: center; }

#content_editor .nutanix-product-overview-graphic--api, .pdf-page-content .nutanix-product-overview-graphic--api, #content_editor .nutanix-product-overview-graphic--api *, .pdf-page-content .nutanix-product-overview-graphic--api * { color: #fff; }

#content_editor .nutanix-product-overview-graphic--api p:last-child, .pdf-page-content .nutanix-product-overview-graphic--api p:last-child { margin-bottom: 0; }

.nutanix-product-overview-graphic--api:before { content: ''; background-image: url(../img/white-triangle.png); background-position: center; background-size: cover; background-repeat: no-repeat; position: absolute; width: 60px; top: 0; bottom: 0; right: 100%; }

.nutanix-product-overview-graphic--components { list-style-type: none; }

#content_editor .nutanix-product-overview-graphic--components, .pdf-page-content .nutanix-product-overview-graphic--components { padding-left: 0; }

.nutanix-product-overview-graphic--component-item { display: table; width: 100%; }

#content_editor .nutanix-product-overview-graphic--component-item, .pdf-page-content .nutanix-product-overview-graphic--component-item { margin-bottom: 0.25em; }

.nutanix-product-overview-graphic--component-item > * { display: table-cell; vertical-align: middle; }

.nutanix-product-overview-graphic--component-item:first-child { padding-top: 20px; }

#content_editor .nutanix-product-overview-graphic--component-item:last-child, .pdf-page-content .nutanix-product-overview-graphic--component-item:last-child { margin-bottom: 0; padding-bottom: 20px; }

.nutanix-product-overview-graphic--component-item .nutanix-green-box, .nutanix-product-overview-graphic--component-item .nutanix-blue-box { text-align: center; border-right: 5px solid #024DA1; width: 125px; }

#content_editor .nutanix-product-overview-graphic--component-item .nutanix-green-box, .pdf-page-content .nutanix-product-overview-graphic--component-item .nutanix-green-box, #content_editor .nutanix-product-overview-graphic--component-item .nutanix-blue-box, .pdf-page-content .nutanix-product-overview-graphic--component-item .nutanix-blue-box { font-size: 12px; line-height: 1.2; }

.nutanix-product-overview-graphic--sub-components { background-color: #ccc; padding: 0.25em 1em; list-style-type: none; display: table; width: 100%; }

#content_editor .nutanix-product-overview-graphic--sub-components, .pdf-page-content .nutanix-product-overview-graphic--sub-components, #content_editor .nutanix-product-overview-graphic--sub-components *, .pdf-page-content .nutanix-product-overview-graphic--sub-components * { color: #fff; }

#content_editor .nutanix-product-overview-graphic--sub-components p:last-child, .pdf-page-content .nutanix-product-overview-graphic--sub-components p:last-child { margin-bottom: 0; }

#content_editor .nutanix-product-overview-graphic--sub-components, .pdf-page-content .nutanix-product-overview-graphic--sub-components { padding-left: 0.25em; padding-right: 0.25em; }

.nutanix-product-overview-graphic--sub-component-item { display: table-cell; text-align: center; vertical-align: middle; }

#content_editor .nutanix-product-overview-graphic--sub-component-item, .pdf-page-content .nutanix-product-overview-graphic--sub-component-item { font-size: 10px; line-height: 1.2; padding: 0.25em; }

.nutanix-product-overview-graphic--sub-component-item .nutanix-gray-box { padding: 2em 0.5em; }

.nutanix-page--cover { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 5em 40px 1rem; background-image: url(../img/nutanix-logo-pattern.png); background-size: 600px; background-repeat: no-repeat; background-position: 150px center; }

.nutanix-page--cover .nutanix-page--cover--logo { width: 100%; max-width: 300px !important; margin-bottom: 3em; }

.nutanix-page--cover .nutanix-page--cover--headline { color: #fff !important; margin-bottom: 1em !important; }

.nutanix-page--cover .nutanix-page--cover--prepared-for { margin-bottom: 3em; }

.nutanix-page--cover .nutanix-page--cover--prepared-for p { color: #fff !important; font-size: 1.1em !important; }

.nutanix-page--cover .nutanix-page--cover--prepared-for p:first-child { margin-bottom: 0 !important; }

.nutanix-page--cover .nutanix-page--cover--people-list { list-style-type: none; padding-left: 0 !important; }

.nutanix-page--cover .nutanix-page--cover--people-item { color: #fff !important; font-size: 0.85em !important; }

.nutanix-page--cover .nutanix-page--cover--people-item:last-child { margin-bottom: 0 !important; }

#content_editor .nutanix-page--cover .nutanix-page--cover--date, .pdf-page-content .nutanix-page--cover .nutanix-page--cover--date { color: #fff !important; text-align: right; margin-top: 6em; }

.nutanix-page--about-us { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 1em 20px 3.5em; background-image: url(../img/bg-arrow.png), url(../img/nutanix-logo.png); background-size: 175px, 125px; background-repeat: no-repeat; background-position: bottom left, calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--about-us h1, .pdf-page-content .nutanix-page--about-us h1 { color: #fff; text-align: center; margin: 0.5em 0 1em; }

#content_editor .nutanix-page--about-us p, .pdf-page-content .nutanix-page--about-us p { color: #fff; }

.nutanix-page--about-us .nutanix-icon-list { display: table; width: 100%; max-width: 80%; margin-left: auto; margin-right: auto; }

.nutanix-page--about-us .nutanix-icon-item { display: table-cell; width: 50%; }

.nutanix-page--enterprise-cloud-infrastructure { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 1em 40px 3.5em; background-image: url(../img/nutanix-logo.png); background-size: 125px; background-repeat: no-repeat; background-position: calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--enterprise-cloud-infrastructure h1, .pdf-page-content .nutanix-page--enterprise-cloud-infrastructure h1 { color: #fff; text-align: center; margin: 0.5em 0 1em; }

.nutanix-page--enterprise-cloud-infrastructure h2, .nutanix-page--enterprise-cloud-infrastructure p { text-align: center; }

#content_editor .nutanix-page--enterprise-cloud-infrastructure p, .pdf-page-content .nutanix-page--enterprise-cloud-infrastructure p { color: #fff; }

.nutanix-page--enterprise-cloud-infrastructure img { margin: 1.5em auto; max-width: unset !important; max-height: 130px; display: block; }

.nutanix-page--enterprise-cloud-infrastructure .grid { padding-top: 1em; }

.nutanix-page--enterprise-cloud-infrastructure .one-third:first-child { position: relative; left: -10px; padding-left: 10px; }

.nutanix-page--enterprise-cloud-infrastructure .one-third:first-child:after { content: ''; position: absolute; top: 0; bottom: 0; right: -5px; width: 1px; background-color: #fff; }

.nutanix-page--enterprise-cloud-infrastructure .one-third:last-child { position: relative; padding-right: 10px; right: -10px; }

.nutanix-page--enterprise-cloud-infrastructure .one-third:last-child:before { content: ''; position: absolute; top: 0; bottom: 0; left: -5px; width: 1px; background-color: #fff; }

.nutanix-page--enterprise-cloud { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 1em 40px 3.5em; background-image: url(../img/nutanix-logo.png); background-size: 125px; background-repeat: no-repeat; background-position: calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--enterprise-cloud h1, .pdf-page-content .nutanix-page--enterprise-cloud h1 { color: #fff; text-align: center; margin: 0.5em 0 1em; }

.nutanix-page--enterprise-cloud .nutanix-icon-list { background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.25)), color-stop(75%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0) 75%); background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0) 75%); background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0) 75%); padding-top: 1.5em; padding-bottom: 1.5em; }

#content_editor .nutanix-page--enterprise-cloud .nutanix-icon-item, .pdf-page-content .nutanix-page--enterprise-cloud .nutanix-icon-item { margin-bottom: 3em; }

#content_editor .nutanix-page--enterprise-cloud .nutanix-icon-item:last-child, .pdf-page-content .nutanix-page--enterprise-cloud .nutanix-icon-item:last-child { margin-bottom: 0; }

.nutanix-page--enterprise-cloud .nutanix-icon-item--icon { width: 150px; text-align: center; position: relative; }

.nutanix-page--enterprise-cloud .nutanix-icon-item--icon img { max-width: 150px !important; max-height: 75px; position: relative; z-index: 1; }

.nutanix-page--enterprise-cloud .nutanix-icon-item, .nutanix-page--enterprise-cloud .nutanix-icon-item--content { width: auto; }

#content_editor .nutanix-page--enterprise-cloud .nutanix-icon-item--content h4, .pdf-page-content .nutanix-page--enterprise-cloud .nutanix-icon-item--content h4, #content_editor .nutanix-page--enterprise-cloud .nutanix-icon-item--content p, .pdf-page-content .nutanix-page--enterprise-cloud .nutanix-icon-item--content p { color: #fff; }

.nutanix-page--value-proposition { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 1em 20px 3.5em; background-image: url(../img/nutanix-logo.png); background-size: 125px; background-repeat: no-repeat; background-position: calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--value-proposition h1, .pdf-page-content .nutanix-page--value-proposition h1 { color: #fff; text-align: center; margin: 0.5em 0 1em; }

.nutanix-page--value-proposition .two-fifths .nutanix-white-box { margin-right: 0.5em; min-height: 385px; }

.nutanix-page--value-proposition .three-fifths .nutanix-white-box { margin-left: 0.5em; min-height: 385px; }

#content_editor .nutanix-page--value-proposition .nutanix-white-box, .pdf-page-content .nutanix-page--value-proposition .nutanix-white-box, #content_editor .nutanix-page--value-proposition .nutanix-white-box *, .pdf-page-content .nutanix-page--value-proposition .nutanix-white-box * { font-size: 12px; line-height: 1.3; }

#content_editor .nutanix-page--value-proposition .nutanix-white-box h4, .pdf-page-content .nutanix-page--value-proposition .nutanix-white-box h4 { margin-top: 1em; margin-bottom: 1em; font-size: 1.5em; text-align: center; }

#content_editor .nutanix-page--value-proposition .nutanix-white-box .nutanix-blue-box, .pdf-page-content .nutanix-page--value-proposition .nutanix-white-box .nutanix-blue-box, #content_editor .nutanix-page--value-proposition .nutanix-white-box .nutanix-blue-box *, .pdf-page-content .nutanix-page--value-proposition .nutanix-white-box .nutanix-blue-box * { color: #fff; }

.nutanix-page--value-proposition .nutanix-blue-box { display: table; width: 100%; margin-bottom: 0.5em; }

.nutanix-page--value-proposition .nutanix-blue-box > * { display: table-cell; vertical-align: middle; width: 33.3333%; }

.nutanix-page--value-proposition .nutanix-blue-box p:first-child { text-align: center; }

.nutanix-page--value-proposition .nutanix-blue-box p:last-child { padding-left: 0.5em; }

.nutanix-page--value-proposition .nutanix-blue-box strong { display: block; }

#content_editor .nutanix-page--value-proposition .nutanix-blue-box strong, .pdf-page-content .nutanix-page--value-proposition .nutanix-blue-box strong { font-size: 1.7em; line-height: 1; }

.nutanix-page--value-proposition .nutanix-blue-box img { display: block; padding: 0.5em; border-radius: 50%; margin: 0 auto; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--chart-container { display: table; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--chart-container > * { display: table-cell; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; width: 50%; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--chart-element-traditional { background-color: #76787A; margin-left: 1em; margin-right: 1em; min-height: 300px; }

#content_editor .nutanix-page--value-proposition .nutanix-page--value-proposition--chart-element-traditional, .pdf-page-content .nutanix-page--value-proposition .nutanix-page--value-proposition--chart-element-traditional { color: #fff; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--chart-element-nutanix { background-color: #AFD135; margin-top: calc(300px - 120px); height: 120px; position: relative; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--chart-element-nutanix:before { content: url(../img/sixty-percent-reduction.jpg); position: absolute; bottom: 105%; left: 0; right: 0; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--chart-element-nutanix img { padding: 0 5px; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--virtualization .nutanix-page--value-proposition--chart-element-nutanix { margin-top: calc(300px - 60px); height: 60px; }

.nutanix-page--value-proposition .nutanix-page--value-proposition--virtualization .nutanix-page--value-proposition--chart-element-nutanix:before { content: url(../img/eighty-percent-reduction.jpg); }

.nutanix-page--why-nutanix { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 1em 40px 3.5em; background-image: url(../img/bg-arrow.png), url(../img/nutanix-logo.png); background-size: 175px, 125px; background-repeat: no-repeat; background-position: bottom left, calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--why-nutanix h1, .pdf-page-content .nutanix-page--why-nutanix h1 { color: #fff; text-align: center; margin: 0.5em 0 1em; }

#content_editor .nutanix-page--why-nutanix .nutanix-icon-item, .pdf-page-content .nutanix-page--why-nutanix .nutanix-icon-item { margin-bottom: 2em; }

#content_editor .nutanix-page--why-nutanix .nutanix-icon-item:last-child, .pdf-page-content .nutanix-page--why-nutanix .nutanix-icon-item:last-child { margin-bottom: 0; }

.nutanix-page--why-nutanix .nutanix-icon-item--icon { width: 150px; text-align: center; }

.nutanix-page--why-nutanix .nutanix-icon-item--icon img { max-width: 150px !important; max-height: 75px; }

.nutanix-page--why-nutanix .nutanix-icon-item, .nutanix-page--why-nutanix .nutanix-icon-item--content { width: auto; }

#content_editor .nutanix-page--why-nutanix .nutanix-icon-item--content h4, .pdf-page-content .nutanix-page--why-nutanix .nutanix-icon-item--content h4, #content_editor .nutanix-page--why-nutanix .nutanix-icon-item--content p, .pdf-page-content .nutanix-page--why-nutanix .nutanix-icon-item--content p { color: #fff; }

.nutanix-page--requirements { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; padding: 1em 40px 3.5em; background-image: url(../img/nutanix-logo--full-color.png); background-size: 125px; background-repeat: no-repeat; background-position: calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--requirements h1, .pdf-page-content .nutanix-page--requirements h1 { text-align: center; margin: 0.5em 0 1em; }

#content_editor .nutanix-page--overview-for-upm h1, .pdf-page-content .nutanix-page--overview-for-upm h1 { text-align: center; margin: 0.5em 0 1em; }

.nutanix-page--overview-for-upm .nutanix-shadowbox > div:first-child { padding-top: 25px; }

.nutanix-page--overview-for-upm .nutanix-icon-item--icon { text-align: center; }

#content_editor .nutanix-page--overview-for-upm .nutanix-green-box .nutanix-icon-item--icon p, .pdf-page-content .nutanix-page--overview-for-upm .nutanix-green-box .nutanix-icon-item--icon p, #content_editor .nutanix-page--overview-for-upm .nutanix-orange-box .nutanix-icon-item--icon p, .pdf-page-content .nutanix-page--overview-for-upm .nutanix-orange-box .nutanix-icon-item--icon p { color: #4C4C4E; }

.nutanix-page--cluster-usage-summary { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; padding: 1em 40px 3.5em; background-image: url(../img/nutanix-logo--full-color.png); background-size: 125px; background-repeat: no-repeat; background-position: calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--cluster-usage-summary h1, .pdf-page-content .nutanix-page--cluster-usage-summary h1 { text-align: center; margin: 0.5em 0 1em; }

.nutanix-page--cluster-usage-summary .nutanix-cluster-graphic { position: relative; }

.nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend { position: absolute; list-style-type: none; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#content_editor .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend, .pdf-page-content .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend { padding-left: 0; }

.nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend li { display: block; text-align: center; }

#content_editor .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend li, .pdf-page-content .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend li { color: #fff; font-size: 14px; line-height: 1; padding: 0.5em 1em; margin-bottom: 0.5em; }

.nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend li:first-child { background-color: #024DA1; }

.nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend li:last-child { background-color: #AFD135; }

.nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts { list-style-type: none; }

#content_editor .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts, .pdf-page-content .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts { padding-left: 0; }

.nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts li { display: inline-block; width: calc(50% - 2px); text-align: center; }

#content_editor .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts li, .pdf-page-content .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts li { margin-bottom: 0; }

#content_editor .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts img, .pdf-page-content .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts img { max-width: 300px; }

.nutanix-page--acropolis-overview { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 1em 40px 3.5em; background-image: url(../img/nutanix-logo.png); background-size: 125px; background-repeat: no-repeat; background-position: calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--acropolis-overview h1, .pdf-page-content .nutanix-page--acropolis-overview h1 { color: #fff; text-align: center; margin: 0.5em 0 1em; }

.nutanix-page--prism-overview { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); margin-bottom: -40px; background-color: #024DA1; padding: 1em 40px 3.5em; background-image: url(../img/nutanix-logo.png); background-size: 125px; background-repeat: no-repeat; background-position: calc(100% - 1em) calc(100% - 1em); }

#content_editor .nutanix-page--prism-overview h1, .pdf-page-content .nutanix-page--prism-overview h1 { color: #fff; text-align: center; margin: 0.5em 0 1em; }

.nutanix-page--prism-overview .nutanix-product-overview-graphic--icon h2 { left: 45px; }

.nutanix-page--prism-overview .nutanix-blue-box { background-color: #01356f; }

.nutanix-has-text-white { color: #fff !important; }

.nutanix-has-text-brand-two { color: #AFD135 !important; }

.nutanix-has-text-brand-three { color: #92278F !important; }

.nutanix-has-text-brand-four { color: #F37021 !important; }

.nutanix-has-text-center { text-align: center !important; }

.nutanix-pad-y { padding-top: 18px !important; padding-bottom: 18px !important; }

.nutanix-pad-y-more { padding-top: 32px !important; padding-bottom: 32px !important; }

.nutanix-pad-t { padding-top: 18px !important; }

.nutanix-pad-t-more { padding-top: 32px !important; }

.nutanix-pad-b { padding-bottom: 18px !important; }

.nutanix-pad-b-more { padding-bottom: 32px !important; }

.nutanix-pad-x { padding-left: 18px !important; padding-right: 18px !important; }

.nutanix-pad-x-more { padding-left: 32px !important; padding-right: 32px !important; }

.nutanix-pad-l { padding-left: 18px !important; }

.nutanix-pad-l-more { padding-left: 32px !important; }

.nutanix-pad-r { padding-right: 18px !important; }

.nutanix-pad-r-more { padding-right: 32px !important; }

.nutanix-mar-y { margin-top: 18px !important; margin-bottom: 18px !important; }

.nutanix-mar-y-more { margin-top: 32px !important; margin-bottom: 32px !important; }

.nutanix-mar-t { margin-top: 18px !important; }

.nutanix-mar-t-more { margin-top: 32px !important; }

.nutanix-mar-b { margin-bottom: 18px !important; }

.nutanix-mar-b-more { margin-bottom: 32px !important; }

.nutanix-mar-b-neg { margin-bottom: -18px !important; }

.nutanix-mar-x { margin-left: 18px !important; margin-right: 18px !important; }

.nutanix-mar-x-more { margin-left: 32px !important; margin-right: 32px !important; }

.nutanix-mar-l { margin-left: 18px !important; }

.nutanix-mar-l-more { margin-left: 32px !important; }

.nutanix-mar-r { margin-right: 18px !important; }

.nutanix-mar-r-more { margin-right: 32px !important; }

.nutanix-b-a { border: 1px solid #fff; }

@media screen and (max-width: 735px) { .nutanix-icon-item { display: block; width: 100%; } .nutanix-shadowbox { display: block; } .nutanix-shadowbox > * { display: block; } .nutanix-shadowbox .nutanix-shadowbox--shadowed { display: none; } .nutanix-product-overview-graphic { display: block; } .nutanix-product-overview-graphic > * { display: block; } .nutanix-product-overview-graphic--icon { padding-right: 0; text-align: center; padding-bottom: 15px; } .nutanix-product-overview-graphic--icon h2 { position: static; left: auto; } .nutanix-product-overview-graphic--api:before { display: none; } .nutanix-product-overview-graphic--component-item { display: block; } #content_editor .nutanix-product-overview-graphic--component-item, .pdf-page-content .nutanix-product-overview-graphic--component-item { margin-bottom: 1em; } .nutanix-product-overview-graphic--component-item > * { display: block; } .nutanix-product-overview-graphic--component-item .nutanix-green-box, .nutanix-product-overview-graphic--component-item .nutanix-blue-box { width: 100%; border-right: 0; padding: 0.5em; } .nutanix-product-overview-graphic--sub-components-wrapper { overflow: scroll; } .nutanix-page--cover { padding: 2em 20px 1em; background-image: unset; } #content_editor .nutanix-page--cover .nutanix-page--cover--date, .pdf-page-content .nutanix-page--cover .nutanix-page--cover--date { margin-top: 3rem; } .nutanix-page--about-us .nutanix-icon-list { display: block; max-width: unset; } .nutanix-page--about-us .nutanix-icon-item { display: block; width: 100%; } .nutanix-page--enterprise-cloud-infrastructure .one-third:first-child { margin-bottom: 1.5em; left: 0; padding-left: 0; padding-right: 0; } .nutanix-page--enterprise-cloud-infrastructure .one-third:first-child:after { width: auto; height: 1px; left: 0; right: 0; top: 100%; bottom: auto; } .nutanix-page--enterprise-cloud-infrastructure .one-third:nth-child(2) { padding-left: 0; padding-right: 0; } .nutanix-page--enterprise-cloud-infrastructure .one-third:last-child { padding-left: 0; padding-right: 0; right: 0; padding-top: 1.5em; } .nutanix-page--enterprise-cloud-infrastructure .one-third:last-child:before { width: auto; height: 1px; left: 0; right: 0; top: auto; bottom: 100%; } .nutanix-page--enterprise-cloud .nutanix-icon-list { background-image: unset; } .nutanix-page--enterprise-cloud .nutanix-icon-item { float: none; } .nutanix-page--enterprise-cloud .nutanix-icon-item--icon { width: auto; } .nutanix-page--enterprise-cloud .nutanix-icon-item--icon:after { content: ''; position: absolute; top: calc(50% - 5px); width: 150px; height: 110px; left: 50%; background-color: #fff; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 0; -webkit-filter: blur(20px); filter: blur(20px); border-radius: 50%; opacity: 0.4; } .nutanix-page--enterprise-cloud .nutanix-icon-item, .nutanix-page--enterprise-cloud .nutanix-icon-item--icon, .nutanix-page--enterprise-cloud .nutanix-icon-item--content { display: block; } .nutanix-page--enterprise-cloud .nutanix-icon-item, .nutanix-page--enterprise-cloud .nutanix-icon-item--content { text-align: center; } .nutanix-page--enterprise-cloud .nutanix-icon-item--content { padding-top: 0.5em; padding-left: 0; padding-right: 0; } .nutanix-page--value-proposition .two-fifths, .nutanix-page--value-proposition .three-fifths { display: block; width: 100%; } .nutanix-page--value-proposition .two-fifths .nutanix-white-box { margin-right: 0; margin-bottom: 0.5em; } .nutanix-page--value-proposition .three-fifths .nutanix-white-box { margin-left: 0; min-height: unset; } .nutanix-page--why-nutanix .nutanix-icon-item { float: none; } .nutanix-page--why-nutanix .nutanix-icon-item--icon { width: auto; } .nutanix-page--why-nutanix .nutanix-icon-item, .nutanix-page--why-nutanix .nutanix-icon-item--icon, .nutanix-page--why-nutanix .nutanix-icon-item--content { display: block; } .nutanix-page--why-nutanix .nutanix-icon-item, .nutanix-page--why-nutanix .nutanix-icon-item--content { text-align: center; } .nutanix-page--why-nutanix .nutanix-icon-item--content { padding-top: 0.5em; padding-left: 0; padding-right: 0; } .nutanix-page--overview-for-upm .nutanix-shadowbox > div:first-child { padding-top: 0; } .nutanix-page--overview-for-upm .nutanix-shadowbox > div:last-child { padding-top: 25px; } .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend { position: static; top: auto; left: auto; -webkit-transform: unset; -ms-transform: unset; transform: unset; text-align: center; } .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--legend li { display: inline-block; } #content_editor .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts img, .pdf-page-content .nutanix-page--cluster-usage-summary .nutanix-cluster-graphic--charts img { max-width: 100%; } .nutanix-page--prism-overview .nutanix-product-overview-graphic--icon h2 { left: auto; } #content_editor .grid .one-third, .pdf-page-content .grid .one-third { width: 100%; display: block; } }

@media screen and (max-width: 568px) { .nutanix-mar-x { margin-left: 0px !important; margin-right: 0px !important; } }

/*# sourceMappingURL=client-theme.css.map */
