/*
=================================================================
GITHUB REPO: https://github.com/danieljbell/client-theme--nutanix
=================================================================
*/
.nutanix-icon-list { list-style-type: none; }
#content_editor .nutanix-icon-list, .pdf-page-content .nutanix-icon-list { padding-left: 0; }
.nutanix-icon-list:after { content: ''; display: table; clear: both; }
.nutanix-icon-item { display: table; width: calc(50% - 2rem); float: left; }
.nutanix-icon-item--icon, .nutanix-icon-item--content { display: table-cell; vertical-align: middle; width: 25%; }
.nutanix-icon-item--content { width: 75%; padding: 0 1rem; }
.nutanix-page--cover { padding: 3em 1em 2em; background-image: url(../img/nutanix-logo-pattern.png); background-size: 600px; background-repeat: no-repeat; background-position: right center; }
.nutanix-page--cover .nutanix-page--cover--logo { width: 100%; max-width: 300px !important; margin-bottom: 3em; }
.nutanix-page--cover .nutanix-page--cover--headline { color: #fff !important; margin-bottom: 1em !important; }
.nutanix-page--cover .nutanix-page--cover--prepared-for { margin-bottom: 3em; }
.nutanix-page--cover .nutanix-page--cover--prepared-for p { font-size: 1.1em !important; }
.nutanix-page--cover .nutanix-page--cover--prepared-for p:first-child { margin-bottom: 0 !important; }
.nutanix-page--cover .nutanix-page--cover--people-list { list-style-type: none; padding-left: 0 !important; }
.nutanix-page--cover .nutanix-page--cover--people-item { font-size: 0.85em !important; }
.nutanix-page--cover .nutanix-page--cover--people-item:last-child { margin-bottom: 0 !important; }
.nutanix-page--enterprise-cloud-infrastructure h2, .nutanix-page--enterprise-cloud-infrastructure p { text-align: center; }
.nutanix-page--enterprise-cloud-infrastructure img { margin: 1.5em auto; max-width: unset !important; max-height: 130px; display: block; }
.nutanix-page--enterprise-cloud-infrastructure .one-third:first-child { position: relative; left: -10px; padding-left: 10px; }
.nutanix-page--enterprise-cloud-infrastructure .one-third:first-child:after { content: ''; position: absolute; top: 0; bottom: 0; right: -5px; width: 1px; background-color: #fff; }
.nutanix-page--enterprise-cloud-infrastructure .one-third:last-child { position: relative; padding-right: 10px; right: -10px; }
.nutanix-page--enterprise-cloud-infrastructure .one-third:last-child:before { content: ''; position: absolute; top: 0; bottom: 0; left: -5px; width: 1px; background-color: #fff; }
#content_editor .nutanix-page--enterprise-cloud .nutanix-icon-item, .pdf-page-content .nutanix-page--enterprise-cloud .nutanix-icon-item { margin-bottom: 2em; }
#content_editor .nutanix-page--enterprise-cloud .nutanix-icon-item:last-child, .pdf-page-content .nutanix-page--enterprise-cloud .nutanix-icon-item:last-child { margin-bottom: 0; }
.nutanix-page--enterprise-cloud .nutanix-icon-item--icon { width: 150px; text-align: center; }
.nutanix-page--enterprise-cloud .nutanix-icon-item--icon img { max-width: 150px !important; max-height: 75px; }
.nutanix-page--enterprise-cloud .nutanix-icon-item, .nutanix-page--enterprise-cloud .nutanix-icon-item--content { width: auto; }
#content_editor .nutanix-page--why-nutanix .nutanix-icon-item, .pdf-page-content .nutanix-page--why-nutanix .nutanix-icon-item { margin-bottom: 2em; }
#content_editor .nutanix-page--why-nutanix .nutanix-icon-item:last-child, .pdf-page-content .nutanix-page--why-nutanix .nutanix-icon-item:last-child { margin-bottom: 0; }
.nutanix-page--why-nutanix .nutanix-icon-item--icon { width: 150px; text-align: center; }
.nutanix-page--why-nutanix .nutanix-icon-item--icon img { max-width: 150px !important; max-height: 75px; }
.nutanix-page--why-nutanix .nutanix-icon-item, .nutanix-page--why-nutanix .nutanix-icon-item--content { width: auto; }
#content_editor .page { background-color: #024DA1; }
.nutanix-has-text-white { color: #fff !important; }
.nutanix-has-text-brand-two { color: #AFD135 !important; }
.nutanix-has-text-brand-three { color: #92278F !important; }
.nutanix-has-text-brand-four { color: #F37021 !important; }
.nutanix-pad-y { padding-top: 30px !important; padding-bottom: 30px !important; }
.nutanix-pad-y-more { padding-top: 60px !important; padding-bottom: 60px !important; }
.nutanix-pad-t { padding-top: 30px !important; }
.nutanix-pad-t-more { padding-top: 60px !important; }
.nutanix-pad-b { padding-bottom: 30px !important; }
.nutanix-pad-b-more { padding-bottom: 60px !important; }
.nutanix-pad-x { padding-left: 30px !important; padding-right: 30px !important; }
.nutanix-pad-x-more { padding-left: 60px !important; padding-right: 60px !important; }
.nutanix-pad-l { padding-left: 30px !important; }
.nutanix-pad-l-more { padding-left: 60px !important; }
.nutanix-pad-r { padding-right: 30px !important; }
.nutanix-pad-r-more { padding-right: 60px !important; }
.nutanix-mar-y { margin-top: 30px !important; margin-bottom: 30px !important; }
.nutanix-mar-y-more { margin-top: 60px !important; margin-bottom: 60px !important; }
.nutanix-mar-t { margin-top: 30px !important; }
.nutanix-mar-t-more { margin-top: 60px !important; }
.nutanix-mar-b { margin-bottom: 30px !important; }
.nutanix-mar-b-more { margin-bottom: 60px !important; }
.nutanix-mar-b-neg { margin-bottom: -30px !important; }
.nutanix-mar-x { margin-left: 30px !important; margin-right: 30px !important; }
.nutanix-mar-x-more { margin-left: 60px !important; margin-right: 60px !important; }
.nutanix-mar-l { margin-left: 30px !important; }
.nutanix-mar-l-more { margin-left: 60px !important; }
.nutanix-mar-r { margin-right: 30px !important; }
.nutanix-mar-r-more { margin-right: 60px !important; }
.nutanix-b-a { border: 1px solid #fff; }
@media screen and (max-width: 735px) { .nutanix-icon-item { display: block; width: 100%; } .nutanix-page--cover { padding: 2em 0 1em; } .nutanix-page--enterprise-cloud-infrastructure .one-third:first-child { margin-bottom: 1.5em; left: 0; padding-left: 0; padding-right: 0; } .nutanix-page--enterprise-cloud-infrastructure .one-third:first-child:after { width: auto; height: 1px; left: 0; right: 0; top: 100%; bottom: auto; } .nutanix-page--enterprise-cloud-infrastructure .one-third:nth-child(2) { padding-left: 0; padding-right: 0; } .nutanix-page--enterprise-cloud-infrastructure .one-third:last-child { padding-left: 0; padding-right: 0; right: 0; padding-top: 1.5em; } .nutanix-page--enterprise-cloud-infrastructure .one-third:last-child:before { width: auto; height: 1px; left: 0; right: 0; top: auto; bottom: 100%; } .nutanix-page--enterprise-cloud .nutanix-icon-item { float: none; } .nutanix-page--enterprise-cloud .nutanix-icon-item--icon { width: auto; } .nutanix-page--enterprise-cloud .nutanix-icon-item, .nutanix-page--enterprise-cloud .nutanix-icon-item--icon, .nutanix-page--enterprise-cloud .nutanix-icon-item--content { display: block; } .nutanix-page--enterprise-cloud .nutanix-icon-item, .nutanix-page--enterprise-cloud .nutanix-icon-item--content { text-align: center; } .nutanix-page--enterprise-cloud .nutanix-icon-item--content { padding-top: 0.5em; padding-left: 0; padding-right: 0; } .nutanix-page--why-nutanix .nutanix-icon-item { float: none; } .nutanix-page--why-nutanix .nutanix-icon-item--icon { width: auto; } .nutanix-page--why-nutanix .nutanix-icon-item, .nutanix-page--why-nutanix .nutanix-icon-item--icon, .nutanix-page--why-nutanix .nutanix-icon-item--content { display: block; } .nutanix-page--why-nutanix .nutanix-icon-item, .nutanix-page--why-nutanix .nutanix-icon-item--content { text-align: center; } .nutanix-page--why-nutanix .nutanix-icon-item--content { padding-top: 0.5em; padding-left: 0; padding-right: 0; } }
@media screen and (max-width: 568px) { .nutanix-mar-x { margin-left: 0px !important; margin-right: 0px !important; } }

/*# sourceMappingURL=client-theme.css.map */
