// ================================================================================================================
// Every class in this file SHOULD be prefixed with some sort of client name abbreviation.
// Make sure to update all instances of that name and save this file.
// If in sublime text, select "nutanix" then you can update all to the chosen client name abbrevation.
// ================================================================================================================

// ===========
// TYPOGRAPHY
// ===========
.nutanix-has-text-white {
  color: #fff !important;
}

.nutanix-has-text-brand-two {
  color: $brand-two !important;
}

.nutanix-has-text-brand-three {
  color: $brand-three !important;
}

.nutanix-has-text-brand-four {
  color: $brand-four !important;
}

.nutanix-has-text-center {
  text-align: center !important;
}

.nutanix-font-shrink {
  #content_editor &,
  .pdf-page-content & {
    font-size: 0.9em !important;
  }
}


// ========
// SPACING
// ========
.nutanix-pad-y {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  &-more {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
}

.nutanix-pad-t {
  padding-top: 18px !important;
  &-more {
    padding-top: 32px !important;
  }
}

.nutanix-pad-b {
  padding-bottom: 18px !important;
  &-more {
    padding-bottom: 32px !important;
  }
}

.nutanix-pad-x {
  padding-left: 18px !important;
  padding-right: 18px !important;
  &-more {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}

.nutanix-pad-l {
  padding-left: 18px !important;
  &-more {
    padding-left: 32px !important;
  }
}

.nutanix-pad-r {
  padding-right: 18px !important;
  &-more {
    padding-right: 32px !important;
  }
}

.nutanix-mar-y {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
  &-more {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
  }
}

.nutanix-mar-t {
  margin-top: 18px !important;
  &-more {
    margin-top: 32px !important;
  }
}

.nutanix-mar-b {
  margin-bottom: 18px !important;
  &-more {
    margin-bottom: 32px !important;
  }
  &-neg {
    margin-bottom: -18px !important;
  }
}

.nutanix-mar-x {
  margin-left: 18px !important;
  margin-right: 18px !important;
  @media screen and (max-width: 568px) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  &-more {
    margin-left: 32px !important;
    margin-right: 32px !important;
  }
}

.nutanix-mar-l {
  margin-left: 18px !important;
  &-more {
    margin-left: 32px !important;
  }
}

.nutanix-mar-r {
  margin-right: 18px !important;
  &-more {
    margin-right: 32px !important;
  }
}

.nutanix-b-a {
  border: 1px solid #fff;
}