@mixin box($color, $text-color: #fff) {
  background-color: $color;
  padding: 0.25em 1em;
  // padding: 1em;


  #content_editor &,
  .pdf-page-content &,
  #content_editor & *,
  .pdf-page-content & * {
    color: $text-color;
  }

  #content_editor & p:last-child,
  .pdf-page-content & p:last-child {
    margin-bottom: 0;
  }

}

.nutanix-blue-box {
  @include box($brand);
}

.nutanix-green-box {
  @include box($brand-two);
}

.nutanix-orange-box {
  @include box($brand-four);
}

.nutanix-white-box {
  @include box(#fff, $base-text-color);
}

.nutanix-gray-box {
  @include box(#76787A);
}