.nutanix-page--chapter-page {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  padding: 11em 40px 11em 370px;
  background-image: url(../img/nutanix-large-arrow.png), url(../img/abstract-bg.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: -100px 0, center;
}

.nutanix-page--chapter-page h1 {
  #content_editor &,
  .pdf-page-content & {
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
  }
}