.nutanix-page--about-us {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  background-color: $brand;
  padding: 1em 20px 3.5em;
  background-image: url(../img/bg-arrow.png), url(../img/nutanix-logo.png);
  background-size: 175px, 125px;
  background-repeat: no-repeat;
  background-position: bottom left, calc(100% - 1em) calc(100% - 1em);

  h1 {
    
    #content_editor &,
    .pdf-page-content & {
      color: #fff;
      text-align: center;
      margin: 0.5em 0 1em;
    }

  }

  p {

    #content_editor &,
    .pdf-page-content & {
      color: #fff;
    }

  }

  .nutanix-icon-list {
    display: table;
    width: 100%;
    @include mobile {
      display: block;
    }
  }

  .nutanix-icon-item {
    display: table-cell;
    width: 50%;
    @include mobile {
      display: block;
      width: 100%;
    }
  }

}