.nutanix-page--acropolis-overview {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  background-color: $brand;
  padding: 1em 40px 3.5em;
  background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/613001_original.png?1521516414);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) calc(100% - 1em);
  @include print {
    left: -0.5in;
    top: -0.5in;
    width: 8.5in;
    margin-bottom: -1in;
    padding-top: 1in;
    padding-left: 0.5in;
    padding-right: 0.5in;
    min-height: 11in;
    background-position: 6.6in 10.5in;
    background-size: 1.5in;
  }
}

.nutanix-page--acropolis-overview h1 {
  #content_editor &,
  .pdf-page-content & {
    color: #fff !important;
    text-align: center;
    margin: 0.5em 0 1em !important;
    @include print {
      margin-bottom: 1.5em !important;
    }
  }
}