.nutanix-page--cover {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  background-color: $brand;
  padding: 5em 40px 1rem;
  background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/613000_original.png?1521516414);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 150px center;
  @include mobile {
    padding: 2em 20px 1em;
    background-image: unset;
  }
  @include print {
    left: -0.5in;
    top: -0.5in;
    width: 8.5in;
    margin-bottom: -1in;
    padding-top: 1.5in;
    padding-left: 0.5in;
    padding-right: 0.5in;
    min-height: 11in;
  }
  
  .nutanix-page--cover--logo {
    width: 100%;
    max-width: 300px !important;
    margin-bottom: 3em;
  }

  .nutanix-page--cover--headline {
    color: #fff !important;
    margin-bottom: 1em !important;
  }

  .nutanix-page--cover--prepared-for {
    margin-bottom: 3em;

    p {
      color: #fff !important;
      font-size: 1.1em !important;
      &:first-child {
        margin-bottom: 0 !important;
      }
    }

  }

  .nutanix-page--cover--people-list {
    list-style-type: none;
    padding-left: 0 !important;
    @include print {
      padding-top: 3.25in;
    }
  }

  .nutanix-page--cover--people-item {
    color: #fff !important;
    font-size: 0.85em !important;
    
    &:last-child {
      margin-bottom: 0 !important;
    }
    
    a {
      #content_editor &,
      .pdf-page-content & {
        color: #fff !important;
        text-decoration: none;
      }
    }

  }

  .nutanix-page--cover--date {
    
    #content_editor &,
    .pdf-page-content & {
      color: #fff !important;
      text-align: right;
      margin-top: 6em;
      @include mobile {
        margin-top: 3rem;
      }
      @include print {
        margin-top: 1in;
      }
    }

  }

}