.nutanix-page--cover {
  padding: 3em 1em 0;
  background-image: url(../img/nutanix-logo-pattern.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right center;
  @include mobile {
    padding: 2em 0 1em;
    background-image: unset;
  }
  
  .nutanix-page--cover--logo {
    width: 100%;
    max-width: 300px !important;
    margin-bottom: 3em;
  }

  .nutanix-page--cover--headline {
    color: #fff !important;
    margin-bottom: 1em !important;
  }

  .nutanix-page--cover--prepared-for {
    margin-bottom: 3em;

    p {
      font-size: 1.1em !important;
      &:first-child {
        margin-bottom: 0 !important;
      }
    }

  }

  .nutanix-page--cover--people-list {
    list-style-type: none;
    padding-left: 0 !important;
  }

  .nutanix-page--cover--people-item {
    font-size: 0.85em !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .nutanix-page--cover--date {
    
    #content_editor &,
    .pdf-page-content & {
      text-align: right;
      margin-top: 6em;
      @include mobile {
        margin-top: 3rem;
      }
    }

  }

}