.nutanix-page--enterprise-cloud {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  background-color: $brand;
  padding: 1em 40px 3.5em;
  background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/613001_original.png?1521516414);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) calc(100% - 1em);
  @include print {
    left: -0.5in;
    top: -0.5in;
    width: 8.5in;
    margin-bottom: -1in;
    padding-top: 1.5in;
    padding-left: 0.5in;
    padding-right: 0.5in;
    min-height: 11in;
  }

  h1 {
    
    #content_editor &,
    .pdf-page-content & {
      color: #fff !important;
      text-align: center;
      margin: 0.5em 0 1em !important;
    }

  }

  .nutanix-icon-list {
    background-image: linear-gradient(to right, rgba(white, 0.25), rgba(white, 0) 75%);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    @include mobile {
      background-image: unset;
    }
    @include print {
      background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/613053_original.png?1521521197);
      background-repeat: repeat;
    }
  }

  .nutanix-icon-item {
    @include mobile {
      float: none;
    }
    
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 3em;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .nutanix-icon-item--icon {
    width: 150px;
    text-align: center;
    position: relative;
    @include mobile {
      width: auto;
    }

    &:after {
      @include mobile {
        content: '';
        position: absolute;
        top: calc(50% - 5px);
        width: 150px;
        height: 110px;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);
        z-index: 0;
        filter: blur(20px);
        border-radius: 50%;
        opacity: 0.4;
      }
    }
    
    img {
      max-width: 150px !important;
      max-height: 75px;
      position: relative;
      z-index: 1;
    }

  }

  .nutanix-icon-item,
  .nutanix-icon-item--icon,
  .nutanix-icon-item--content {
    @include mobile {
      display: block;
    }
  }

  .nutanix-icon-item,
  .nutanix-icon-item--content {
    width: auto;
    @include mobile {
      text-align: center;
    }
  }

  .nutanix-icon-item--content {
    @include mobile {
      padding-top: 0.5em;
      padding-left: 0;
      padding-right: 0;
    }

    h4, 
    p {
      #content_editor &,
      .pdf-page-content & {
        color: #fff;
      }
    }

  }

}