.nutanix-page--enterprise-cloud-infrastructure {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  background-color: $brand;
  padding: 1em 40px 3.5em;
  background-image: url(../img/nutanix-logo.png);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) calc(100% - 1em);
  
  h1 {

    #content_editor &,
    .pdf-page-content & {
      color: #fff;
      text-align: center;
      margin: 0.5em 0 1em;
    }

  }

}

.nutanix-page--enterprise-cloud-infrastructure h2,
.nutanix-page--enterprise-cloud-infrastructure p {
  text-align: center;
}

.nutanix-page--enterprise-cloud-infrastructure p {

  #content_editor &,
  .pdf-page-content & {
    color: #fff;
  }

}

.nutanix-page--enterprise-cloud-infrastructure img {
  margin: 1.5em auto;
  max-width: unset !important;
  max-height: 130px;
  display: block;
}

.nutanix-page--enterprise-cloud-infrastructure .grid {
  padding-top: 1em;
}

.nutanix-page--enterprise-cloud-infrastructure .one-third:first-child {
  position: relative;
  left: -10px;
  padding-left: 10px;
  @include mobile {
    margin-bottom: 1.5em;
    left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 1px;
    background-color: #fff;
    @include mobile {
      width: auto;
      height: 1px;
      left: 0;
      right: 0;
      top: 100%;
      bottom: auto;
    }
  }

}

.nutanix-page--enterprise-cloud-infrastructure .one-third:nth-child(2) {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.nutanix-page--enterprise-cloud-infrastructure .one-third:last-child {
  position: relative;
  padding-right: 10px;
  right: -10px; 
  @include mobile {
    padding-left: 0;
    padding-right: 0;
    right: 0;
    padding-top: 1.5em;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 1px;
    background-color: #fff;
    @include mobile {
      width: auto;
      height: 1px;
      left: 0;
      right: 0;
      top: auto;
      bottom: 100%;
    }
  }

}