.nutanix-page--enterprise-cloud {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  background-color: $brand;
  padding: 1em 40px 3.5em;
  background-image: url(../img/nutanix-logo.png);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) calc(100% - 1em);

  h1 {
    
    #content_editor &,
    .pdf-page-content & {
      color: #fff;
      text-align: center;
      margin: 0.5em 0 1em;
    }

  }

  .nutanix-icon-list {
    background-image: linear-gradient(to right, rgba(white, 0.25), rgba(white, 0) 75%);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .nutanix-icon-item {
    @include mobile {
      float: none;
    }
    
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 2em;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .nutanix-icon-item--icon {
    width: 150px;
    text-align: center;
    @include mobile {
      width: auto;
    }
    
    img {
      max-width: 150px !important;
      max-height: 75px;
    }

  }

  .nutanix-icon-item,
  .nutanix-icon-item--icon,
  .nutanix-icon-item--content {
    @include mobile {
      display: block;
    }
  }

  .nutanix-icon-item,
  .nutanix-icon-item--content {
    width: auto;
    @include mobile {
      text-align: center;
    }
  }

  .nutanix-icon-item--content {
    @include mobile {
      padding-top: 0.5em;
      padding-left: 0;
      padding-right: 0;
    }

    h4, 
    p {
      #content_editor &,
      .pdf-page-content & {
        color: #fff;
      }
    }

  }

}