.nutanix-page--overview-for-upm h1 {
  #content_editor &,
  .pdf-page-content & {
    text-align: center;
    margin: 0.5em 0 1em !important;
    @include print {
      margin: 1em 0 1.5em !important;
    }
  }
}

.nutanix-page--overview-for-upm h2 {
  #content_editor &,
  .pdf-page-content & {
    color: $brand-two !important; 
  }
}


.nutanix-page--overview-for-upm .nutanix-shadowbox > div:first-child {
  padding-top: 25px;
  @include mobile {
    padding-top: 0;
  }
}

.nutanix-page--overview-for-upm .nutanix-shadowbox > div:last-child {
  @include mobile {
    padding-top: 25px;
  }
}

.nutanix-page--overview-for-upm .nutanix-icon-item {
  #content_editor &,
  .pdf-page-content & {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.nutanix-page--overview-for-upm .nutanix-icon-item--icon {
  text-align: center;
  max-width: 75px;
}

.nutanix-page--overview-for-upm .nutanix-icon-item--icon img {
  max-width: 55px !important;

}

.nutanix-page--overview-for-upm .nutanix-icon-item--icon p {
  #content_editor &,
  .pdf-page-content & {
    font-size: 0.85em;
    line-height: 1.3;
  }
}

.nutanix-page--overview-for-upm .nutanix-green-box .nutanix-icon-item--icon p,
.nutanix-page--overview-for-upm .nutanix-orange-box .nutanix-icon-item--icon p {
  #content_editor &,
  .pdf-page-content & {
    color: $base-text-color;
  }
}

.nutanix-page--overview-for-upm .nutanix-icon-item--content {
  @include print {
    max-width: 2in;
    padding-left: 0.25in;
  }
}

.nutanix-page--overview-for-upm .nutanix-icon-item--content p {
  #content_editor &,
  .pdf-page-content & {
    font-size: 0.85em;
    line-height: 1.3;
  }
}