.nutanix-page--why-nutanix {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  margin-bottom: -40px;
  background-color: $brand;
  padding: 1em 40px 3.5em;
  background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/612961_original.png?1521516401), url(https://mytinder.s3.amazonaws.com/assets/medias/613001_original.png?1521516414);
  background-size: 175px, 125px;
  background-repeat: no-repeat;
  background-position: bottom left, calc(100% - 1em) calc(100% - 1em);
  @include print {
    left: -0.5in;
    top: -0.5in;
    width: 8.5in;
    margin-bottom: -1in;
    padding-top: 1.5in;
    padding-left: 0.5in;
    padding-right: 0.5in;
    min-height: 11in;
    background-position: 11in 0in, 5in 5in;
  }

  h1 {
    
    #content_editor &,
    .pdf-page-content & {
      color: #fff !important;
      text-align: center;
      margin: 0.5em 0 1em !important;
    }

  }

  .nutanix-icon-item {
    @include mobile {
      float: none;
    }
    
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 2em;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .nutanix-icon-item--icon {
    width: 150px;
    text-align: center;
    @include mobile {
      width: auto;
    }
    
    img {
      max-width: 150px !important;
      max-height: 75px;
    }

  }

  .nutanix-icon-item,
  .nutanix-icon-item--icon,
  .nutanix-icon-item--content {
    @include mobile {
      display: block;
    }
  }

  .nutanix-icon-item,
  .nutanix-icon-item--content {
    width: auto;
    @include mobile {
      text-align: center;
    }
  }

  .nutanix-icon-item--content {
    @include mobile {
      padding-top: 0.5em;
      padding-left: 0;
      padding-right: 0;
    }

    h4,
    p {
      #content_editor &,
      .pdf-page-content & {
        color: #fff;
      }
    }

  }

}